@model CMM.Projects.Apresentation.Models.VinculoSituacaoModelView

<div class="modal-header">
    <h4>Você tem certeza que deseja excluir este registro?</h4>
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
</div>
<div class="row">

    <div class="modal-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.VNCST_DESCRICAO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.VNCST_DESCRICAO)
            </dd>

        </dl>

        @using (Html.BeginForm("DeleteVNCST", "Vinculo", FormMethod.Post, new { id = "formCrud" }))
        {
            @Html.AntiForgeryToken()
            <div class="modal-footer">
                <a data-dismiss="modal" class="btn btn-sm btn-outline-secondary">Voltar</a>
                <input type="button" value="Excluir" class="btn btn-outline-danger" />
            </div>
        }
    </div>
</div>

<script src="~/Scripts/ccm.projects/EnviaForm.js"></script>
@Scripts.Render("~/bundles/jqueryval")