<?xml version="1.0"?>
<!--
  Para obter mais informações sobre como configurar seu aplicativo ASP.NET, visite
   https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
   <connectionStrings>
        <!--  <add name="geapedbContext_lh" connectionString="metadata=res://*/Entities.GeapeDbContext.csdl|res://*/Entities.GeapeDbContext.ssdl|res://*/Entities.GeapeDbContext.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;password=mysql;user id=root;database=geapedb&quot;" providerName="System.Data.EntityClient" />
        -->
        <!--RETIRADO-->
	   <!--<add name="ModeloDados" connectionString="data source=localhost; password=mysql; user id=root; Initial Catalog=geapedb;" providerName="MySql.Data.MySqlClient"/>-->
        <add name="ModeloDados" connectionString="data source=10.95.2.78; password=; user id=root; Initial Catalog=geapedb;" providerName="MySql.Data.MySqlClient" />
        <!--<add name="geapedbContextEntities" connectionString="metadata=res://*/Entities.GeapeDbContext.csdl|res://*/Entities.GeapeDbContext.ssdl|res://*/Entities.GeapeDbContext.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;password=mysql;user id=root;database=geapedb&quot;" providerName="System.Data.EntityClient" />-->
        <add name="PontoSecullum4Entities" connectionString="metadata=res://*/Models.DbPontoSecullum.csdl|res://*/Models.DbPontoSecullum.ssdl|res://*/Models.DbPontoSecullum.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=hemo-fusion;initial catalog=PontoSecullum4;persist security info=True;user id=sa;password=fu$10n;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
	    <add name="geapedbContextEntities" connectionString="metadata=res://*/Entities.GeapeDbContext.csdl|res://*/Entities.GeapeDbContext.ssdl|res://*/Entities.GeapeDbContext.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=10.95.2.78;port=33066;password=;user id=root;database=geapedb&quot;" providerName="System.Data.EntityClient"/>
	    <!--<add name="geapeteste" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\alvaro.pimentel\Documents\geapeteste.mdf;Integrated Security=True;Connect Timeout=30"/>-->
	</connectionStrings>
    <appSettings>
        <add key="webpages:Version" value="3.0.0.0"/>
        <add key="webpages:Enabled" value="false"/>
        <add key="ClientValidationEnabled" value="true"/>
        <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
        <add key="ida:SignInPolicyId" value="B2C_Signin_Policy"/>
        <add key="ida:PasswordResetPolicyId" value="B2C_PasswordReset_Policy"/>
    </appSettings>
  <!--
    Para obter uma descrição das alterações do web.config, consulte http://go.microsoft.com/fwlink/?LinkId=235367.

    Os seguintes atributos podem ser definidos na marca <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" enableClientBasedCulture="true" responseEncoding="utf-8" culture="pt-br"/>
    <compilation debug="true" targetFramework="4.8">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
      </buildProviders>
      <assemblies>
        <add assembly="Microsoft.ReportViewer.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.8"/>
    <!--Inside system.web-->
    <authentication mode="Forms">
      <forms loginUrl="~/Usuario/Login" cookieless="UseCookies" name="auth/.Hemo.\" timeout="2880"/>
    </authentication>
    <membership defaultProvider="MyMembershipProvider">
      <providers>
        <add name="MyMembershipProvider" type="CMM.Projects.Apresentation.InfraAuthentication.MyMembershipProvider, CMM.Projects.Apresentation"/>
        <!--<add name="ClassName" type="NamespaceName.ClassName, assemble (dll) name"/>-->
      </providers>
    </membership>
    <roleManager defaultProvider="MyRoleProvider" enabled="true">
      <providers>
        <add name="MyRoleProvider" type="CMM.Projects.Apresentation.InfraAuthentication.MyRoleProvider,  CMM.Projects.Apresentation"/>
      </providers>
    </roleManager>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false"/>
    </httpHandlers>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="6d32ff45e0ccc69f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.WebForms" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
      <add name="ReportViewerWebControlHandler" verb="*" path="Reserved.ReportViewerWebControl.axd" preCondition="integratedMode" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
    </handlers>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.data>
    <DbProviderFactories>
      <!--Removes the dll installed in gac-->
      <remove invariant="MySql.Data.MySqlClient"/>
      <!--Add the dll copied in the bin folder-->
      <add name="MySQL" description="ADO.Net driver for MySQL" invariant="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data"/>
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="geapedbContextEntities"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.10.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </providers>
	  
		  <!--<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
		  <providers>
			  <provider invariantName="MySql.Data.MySqlClient"
						type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6"/>
			  <provider invariantName="System.Data.SqlClient"
						type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
		  </providers>
	    </defaultConnectionFactory>-->
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AtendeClienteServiceSoapBinding">
          <security mode="Transport"/>
        </binding>
        <binding name="AtendeClienteServiceSoapBinding1"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://apps.correios.com.br/SigepMasterJPA/AtendeClienteService/AtendeCliente" binding="basicHttpBinding" bindingConfiguration="AtendeClienteServiceSoapBinding" contract="ServiceCorreios.AtendeCliente" name="AtendeClientePort"/>
    </client>
  </system.serviceModel>
</configuration>